:root {
  --bg-color: #e6e6e6;
  --bg-navbar: #fff;
  --text-emphasis: rgba(#000, .87);
  --text-helper: rgba(#000, .60);
  --text-disabled: rgba(#000, .38);
}

__dark-mode:root, .__dark-mode {
  --bg-color: #18191a;
  --bg-navbar: #242526;
  --text-emphasis: rgba(#fff, .87);
  --text-helper: rgba(#fff, .60);
  --text-disabled: rgba(#fff, .38);
}

@link-color: #1890ff; 
@success-color: #43FF8E; 
@warning-color: #FFD465; 
@error-color: #FF4A4A; 

@primary: #498AFF;
@primary-variant: #0f85f2;

//text-styles
@font-family: 'noir-pro';
@primary-emphasis: rgba(@primary-variant, .87);
@primary-helper: rgba(@primary-variant, .60);
@primary-disabled: rgba(@primary-variant, .38);
@text-emphasis: var(--text-emphasis);
@text-helper: var(--text-helper);
@text-disabled: var(--text-disabled);

@bg-color: var(--bg-color);
@bg-navbar: var(--bg-navbar);

@elavation5: 0px 0px 20px rgba(#000, 0.09);
@elavation8: 0px 0px 25px 5px rgba(#000, 0.15);
@elavation10: 0px 0px 20px 5px rgba(66, 66, 66, 0.2);
@elavation15: 5px 5px 20px 3px rgba(0, 0, 0, 0.1), 
    -1px -1px 20px rgba(66, 66, 66, 0.25);

// status of accions
@primary-selected: #3b9cf4;
@primary-hover: #3197f4;