@keyframes openOptions {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes closeOptions {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes pressState {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 20px);;
  }
}

@keyframes gradientBackground {
  0%{background-position:100% 0%}
  50%{background-position:0% 0%}
  100%{background-position:100% 0%}
}

.closeAnimation {
  animation: closeOptions .5s !important;
}

.pressLight::before {
  height: 100%;
  width: 0;
  background-color: @light-press !important;
  inset: 50% auto auto 50% !important;
  transform: translate(-50%, -50%);
  animation: pressState .4s;
  border-radius: 50px;
}